body {
  font-family: Helvetica Neue, Tahoma, Arial, PingFangSC-Regular, Hiragino Sans GB, Microsoft Yahei, sans-serif;
  background: url(../images/bg.jpg) no-repeat;
  background-attachment: fixed;
  font-size: 0.24rem;
  overflow: hidden;
}

body, html {
  height: 100%;
  width: 100%;
}

.app-sidebar {
  height: 0.84rem;
  width: 100%;
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.app-sidebar.active {
  height: auto;
}

.app-sidebar .app-mask {
  position: absolute;
  left: 0;
  top: 0.84rem;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.app-sidebar .app-brand {
  width: 100%;
  height: 0.84rem;
  line-height: 0.84rem;
  text-align: center;
  font-size: 0.32rem;
  font-weight: 700;
  background-color: #292c39;
}

.app-sidebar .sidebar-control {
  height: 0.48rem;
  width: 0.48rem;
  position: absolute;
  background: url(../images/list.png) no-repeat;
  background-size: 100% auto;
  left: 0.2rem;
  top: 0.18rem;
}

.app-sidebar .sidebar-control.active {
  background-position: 0 100%;
}

.app-sidebar .avatar {
  height: 0.48rem;
  width: 0.48rem;
  background: url(../images/user.png) no-repeat;
  background-size: 100% auto;
  position: absolute;
  right: 0.2rem;
  top: 0.18rem;
}

.app-sidebar .avatar img {
  height: 100%;
  width: 100%;
  display: block;
  border: none;
}

.app-sidebar .menu-group {
  height: 0.88rem;
  overflow: hidden;
  -webkit-transition: height .2s;
  -o-transition: height .2s;
  transition: height .2s;
}

.app-sidebar .menu-group.active .menu-title {
  color: #e3e3e5;
  background-color: #171c27;
}

.app-sidebar .menu-group.active .menu-title:after {
  background-position: 0 0;
}

.app-sidebar .menu-group.active .menu-title.pre-ico-a:before {
  background-position: 100% 0;
}

.app-sidebar .menu-group.active .menu-title.pre-ico-b:before {
  background-position: 100% 20%;
}

.app-sidebar .menu-group.active .menu-title.pre-ico-c:before {
  background-position: 100% 40%;
}

.app-sidebar .menu-group.active .menu-title.pre-ico-d:before {
  background-position: 100% 60%;
}

.app-sidebar .menu-group.active .menu-title.pre-ico-e:before {
  background-position: 100% 80%;
}

.app-sidebar .menu-group.active .menu-title.pre-ico-f:before {
  background-position: 100% 100%;
}

.app-sidebar .menu-list {
  position: absolute;
  left: 0;
  top: 0.84rem;
  width: 100%;
  background-color: #292c39;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: height .2s;
  -o-transition: height .2s;
  transition: height .2s;
}

.app-sidebar .menu-list.show {
  height: auto;
  opacity: 1;
}

.app-sidebar .menu-list .menu-title {
  height: 0.88rem;
  line-height: 0.88rem;
  padding-left: 0.88rem;
  color: #7f8fa4;
  position: relative;
}

.app-sidebar .menu-list .menu-title:before {
  content: '';
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  background: url(../images/menu.png) no-repeat;
  background-size: 300% auto;
  position: absolute;
  left: 0.3rem;
  top: 50%;
  margin-top: -0.2rem;
}

.app-sidebar .menu-list .menu-title:after {
  content: '';
  display: block;
  height: 0.36rem;
  width: 0.36rem;
  background: url(../images/arr.png) no-repeat;
  background-position: 0 100%;
  background-size: 100% auto;
  position: absolute;
  right: 0.3rem;
  top: 50%;
  margin-top: -0.18rem;
}

.app-sidebar .menu-list .menu-title.pre-ico-b:before {
  background-position: 0 20%;
}

.app-sidebar .menu-list .menu-title.pre-ico-c:before {
  background-position: 0 40%;
}

.app-sidebar .menu-list .menu-title.pre-ico-d:before {
  background-position: 0 60%;
}

.app-sidebar .menu-list .menu-title.pre-ico-e:before {
  background-position: 0 80%;
}

.app-sidebar .menu-list .menu-title.pre-ico-f:before {
  background-position: 0 100%;
}

.app-sidebar .menu-list .sub-list .sub-item {
  color: #7f8fa4;
  padding-left: 1.2rem;
  line-height: 0.84rem;
  height: 0.84rem;
  text-decoration: none;
  display: block;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  position: relative;
}

.app-sidebar .menu-list .sub-list .sub-item:after {
  content: '';
  background: url(../images/sub_menu.png) no-repeat;
  background-size: 100% auto;
  display: block;
  height: 0.36rem;
  width: 0.36rem;
  position: absolute;
  top: 50%;
  left: 0.8rem;
  margin: -0.18rem 0 0 -0.18rem;
}

.app-sidebar .menu-list .sub-list .sub-item.active {
  color: #e3e3e5;
}

.app-sidebar .menu-list .sub-list .sub-item.active:after {
  background-position: 0 100%;
}

.app-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0.88rem;
}

/*# sourceMappingURL=maps/mobile.css.map */
