// 侧边栏
@import './_sidebar.scss';

// 主体内容
.app-content {
  position: absolute;
  left: 250px;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: url(../images/bg.jpg) no-repeat center center;
  background-size: cover;
  transition: left .3s;
}

// 可关闭标签页
.app-tabs-bar {
  height: 52px;
  background-color: #242733;
  position: relative;
  padding-left: 80px;

  .sidebar-control {
    height: 24px;
    width: 24px;
    position: absolute;
    background: url(../images/list.png) no-repeat;
    background-size: 100% auto;
    top: 14px;
    left: 28px;
    cursor: pointer;
    
    &.active {
      background-position: 0 100%;
    }
  }
  
  .tabs-list {
    .tab-item {
      line-height: 52px;
      padding: 0 15px;
      color: #e3e3e5;
      display: inline-block;
      cursor: default;
      font-size: 12px;

      .app-close {
        display: inline-block;
        vertical-align: middle;
        margin-left: 15px;
        cursor: pointer;
      }

      &.active {
        background-color: #171c27;
      }
    }
  }

  .user-status {
    position: absolute;
    right: 30px;
    top: 0;
    line-height: 52px;

    .item {
      display: inline-block;
      font-size: 13px;
      color: #748296;
    }

    .avatar {
      height: 24px;
      width: 24px;
      display: inline-block;
      vertical-align: middle;
      background: url(../images/user.png) no-repeat;
      background-size: 100% auto;
      margin-left: 10px;
    }
  }
}