$fcLight: #e3e3e5;

.main-content {
  padding: 20px;
  min-height: 300px;
}

.fm-list {
  padding: 20px 0;
}

.flex-grid {
  .grid-col {
    float: left;
    margin-right: 20px;
    min-width: 100px;
    width: 300px;
  }
}

.flex-grid, .flex-single-grid {
  position: relative;

  &:after {
    content: ' ';
    display: block;
    height: 0;
    width: 0;
    visibility: hidden;
    clear: both;
  }

  .grid-col {
    transition: width linear .2s;

    &.last {
      margin-right: 0;
    }

    .card {
      min-height: 100px;
      background-color: #292c39;
      margin-bottom: 20px;
      padding: 15px;
      position: relative;

      &.hide {
        height: 0;
        overflow: hidden;
      }

      &.fixed {
        padding: 20px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
        animation: fadeInUp .2s;

        .app-zoom {
          right: 20px;
          top: 20px;
        }

        .card-title {
          font-size: 18px;
          margin-bottom: 20px;
        }

        .time-range {
          font-size: 14px;
          top: 18px;
        }

        .chart-wrap {
          height: auto !important;
        }

        table.app-growth-list {
          font-size: 14px;
          line-height: 48px;
        }
      }

      .card-title {
        color: $fcLight;
        margin-bottom: 10px;
      }


      .time-range {
        font-size: 12px;
        position: absolute;
        right: 60px;
        top: 15px;
        color: #9fa9ba;
        padding: 3px 6px;
        border-radius: 3px;
        background-color: #4c5061;
        cursor: pointer;
      }
    }
  }
}

.card .time-range,
.conditionFilter .filter-btn {
  .cacheTime {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 3;
  }
}

.status-bar {
  .status {
    height: 48px;
    line-height: 48px;
    text-align: center;
    background-color: #292c39;
    border-radius: 5px;

    span {
      margin: 0 5%;
    }
  }
}

.chart-wrap {
  overflow: auto;
  position: relative;

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
  }

  &::-webkit-scrollbar-track-piece {
    background-color: #0f131f;
  }

  .zoom-wrap {
    background-color: #292c39;
    padding: 10px;
    position: absolute;
    right: 5px;
    top: 15px;
    z-index: 9;
    border-radius: 3px;

    .app-zoom {
      left: 0;
      top: 0;
      position: relative;
    }
  }
}

table.local-table {
  width: 100%;

  th, td {
    text-align: center;
    font-size: 12px;
    color: $fcLight;
    background-color: #465061;
    padding: 5px 10px;
  }

  tr.active {
    td {
      background-color: #171c27;
    }
  }

  tr:hover {
    td {
      background-color: #2f3642;
    }
  }
}

.detail-table {
  table {
    th, td {
      text-align: center;
      padding: 5px 10px;
      font-size: 13px;
    }

    th {
      color: #e3e3e5;
      background-color: #465061;
      border-bottom: 1px solid #101420;
    }

    tr {
      &:hover {
        td {
          opacity: 0.8;
        }
      }
    }

    td {
      border-right: 1px solid #101420;
      border-bottom: 1px solid #101420;
      background-color: #cbced4;
      color: #292c39;

      &.item {
        background-color: #465061;
        color: #e3e3e5;
      }
    }
  }
}

.page-loading {
  height: 32px;
  width: 32px;
  background: url(../images/loading.gif) no-repeat;
  background-size: 100% auto;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 999;
  margin: -66px 0 0 -16px;
}

.conditionFilter {
  padding: 10px 0 15px;

  .filter-btn {
    padding: 5px 15px;
    border-radius: 4px;
    background-color: #4c5061;
    display: inline-block;
    font-size: 13px;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
  }
}

.check-list-wrap {
  padding: 15px;
  background-color: #2d303d;
}

.check-list {
  font-size: 0;

  .check-item {
    padding: 10px 0;
    display: inline-block;
    width: 20%;
    font-size: 13px;
    color: #7f8fa4;
    cursor: default;

    .app-checkbox-item {
      margin-right: 5px;
    }
  }
}