.app-dialog
  .dialog-mask
  .dialog-box
    .box-title 大标题
    .fm-list
      .check-list-wrap
        .check-list
          .check-item
            .app-checkbox-item.checked
              input.app-checkbox(type='checkbox')
            span 娱乐先锋娱乐
          .check-item
            .app-checkbox-item.checked
              input.app-checkbox(type='checkbox')
            span 娱乐先锋娱乐
          .check-item
            .app-checkbox-item.checked
              input.app-checkbox(type='checkbox')
            span 娱乐先锋娱乐
          .check-item
            .app-checkbox-item.checked
              input.app-checkbox(type='checkbox')
            span 娱乐先锋娱乐
          .check-item
            .app-checkbox-item.checked
              input.app-checkbox(type='checkbox')
            span 娱乐先锋娱乐
          .check-item
            .app-checkbox-item
              input.app-checkbox(type='checkbox')
            span 娱乐先锋娱乐
          .check-item
            .app-checkbox-item
              input.app-checkbox(type='checkbox')
            span 娱乐先锋娱乐
          .check-item
            .app-checkbox-item
              input.app-checkbox(type='checkbox')
            span 娱乐先锋娱乐
          .check-item
            .app-checkbox-item
              input.app-checkbox(type='checkbox')
            span 娱乐先锋娱乐
          .check-item
            .app-checkbox-item
              input.app-checkbox(type='checkbox')
            span 娱乐先锋娱乐
          .check-item
            .app-checkbox-item
              input.app-checkbox(type='checkbox')
            span 娱乐先锋娱乐
          .check-item
            .app-checkbox-item.checked
              input.app-checkbox(type='checkbox')
            span 娱乐先锋娱乐
          .check-item
            .app-checkbox-item
              input.app-checkbox(type='checkbox')
            span 娱乐先锋娱乐
          .check-item
            .app-checkbox-item.checked
              input.app-checkbox(type='checkbox')
            span 娱乐先锋娱乐
          .check-item
            .app-checkbox-item
              input.app-checkbox(type='checkbox')
            span 娱乐先锋娱乐
      
      .app-btn-grp.center.mt30
        button.app-btn.hollow 取消
        button.app-btn.warning 确定

    .app-close.medium