doctype html
html
  head
    meta(charset='utf-8')
    title 开元管理后台
    block styles
      link(rel='stylesheet' href='https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css')
      link(rel='stylesheet' href='../css/public.css')
      link(rel='stylesheet' href='../css/common.css')
      link(rel='stylesheet' href='../css/pages.css')
    block scripts
      script(src='https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js')
      script(src='../js/common.js')
  body
    .app-main
      include ./sidebar.pug
      .app-content
        block content