doctype html
html
  head
    title My Site
    block scripts
      link(rel='stylesheet' href='../css/reset.css')
      script(src='https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js')
  body
    block content