.app-sidebar
  .app-brand 开元管理后台
  .menu-list
    .menu-group.active
      .menu-title.pre-ico-a 运营管理
      .sub-list
        a.sub-item.active 运营管理1
        a.sub-item 运营管理2
        a.sub-item 运营管理3
        a.sub-item 运营管理4
    
    .menu-group
      .menu-title.pre-ico-b 游戏设置
      .sub-list
        a.sub-item 游戏设置1
    
    .menu-group
      .menu-title.pre-ico-c 账号管理
      .sub-list
        a.sub-item 账号管理1
    
    .menu-group
      .menu-title.pre-ico-d 报表管理
      .sub-list
        a.sub-item 报表管理1
    
    .menu-group
      .menu-title.pre-ico-e 风控管理
      .sub-list
        a.sub-item 风控管理1
    
    .menu-group
      .menu-title.pre-ico-f 系统设置
      .sub-list
        a.sub-item 系统设置1
