.app-sidebar
  .app-brand 开元管理后台
  .menu-list
    .menu-group.active
      .menu-title.pre-ico-a 运营管理
      .sub-list
        a.sub-item.active(data-target="page-1.html" id="s000") 输赢报表
        a.sub-item(data-target="page-2.html") 对局日志解析
        a.sub-item(data-target="page-3.html") 运营管理3
        a.sub-item(data-target="page-4.html") 运营管理4
    
    .menu-group
      .menu-title.pre-ico-b 游戏设置
      .sub-list
        a.sub-item(data-target="page-5.html") 游戏设置1
    
    .menu-group
      .menu-title.pre-ico-c 账号管理
      .sub-list
        a.sub-item(data-target="page-6.html") 账号管理1
    
    .menu-group
      .menu-title.pre-ico-d 报表管理
      .sub-list
        a.sub-item(data-target="page-7.html") 报表管理1
    
    .menu-group
      .menu-title.pre-ico-e 风控管理
      .sub-list
        a.sub-item(data-target="page-8.html") 风控管理1
    
    .menu-group
      .menu-title.pre-ico-f 系统设置
      .sub-list
        a.sub-item(data-target="page-9.html") 系统设置1
