.app-tabs-bar
  .sidebar-control
  .tabs-list
    .tab-item.active
      span 输赢报表
      i.app-close.small
    .tab-item
      span 对局日志解析
      i.app-close.small
    .tab-item
      span 对局日志解析
      i.app-close.small
    .tab-item
      span 对局日志解析
      i.app-close.small
    .tab-item
      span 对局日志解析
      i.app-close.small
    .tab-item
      span 对局日志解析
      i.app-close.small
  .user-status
    .item 当前登陆账号：admin
    .item 北京时间
    .avatar